.navbar {
    background: linear-gradient(120deg, rgba(10,10,220,0.5), rgba(100,100,220,0.9)) !important;
}
ul li a {
    text-decoration: none;
    color: white;
}
div.comments {
    background: linear-gradient(90deg, rgba(100,100,100,0.5), rgba(200,200,200,0.4)) !important;
    box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
div.list-group {
    background: linear-gradient(90deg, rgba(200,200,200,0.5), rgba(200,200,200,0.9));
    box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    margin-bottom: 10px;
    padding-top: 3px;
}
form .post-form {
    width: 320px;
    margin: 0 auto;
}
form .post-form input,
form .post-form textarea {
    width: 100%;
    margin: 0 auto;
    box-shadow: 3px -1px 6px rgba(50,50,50,0.5);
}