{% extends 'wall/layout.html' %}
{% block title %}{{block.super}} | Wall {% endblock%}
{% block body %}

<div class="row">
        <div class="col-lg-6 offset-3">
                {% if messages %}
                <ul class="messages mt-4">
                    {% for message in messages %}
                        <li{% if message.tags == "error" %} class="bg-danger text-white" 
                        {% elif message.tags == "success" %} class="bg-success text-white"
                        {% endif %}>{{message}}</li><br>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

<div class="row">
    <div class="col-lg-8">
        <div class="post text-center">
            {% for post in posts %}
                <div class="list-group">
                <a href="{{post.id}}/comment" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{post.title}}</h5>
                    <small>{{post.created_at}}</small>
                    </div>
                    <p class="mb-1">{{post.content}}</p>
                    {% for comment in post.comments.all %}
                    <small><b>{{post.comments.count}}</b></small>
                    {% endfor %}
                </a> 
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-4 text-center">
        <h3>Add To The Wall</h3>
        <form action="process_post" method="POST">
            {% csrf_token %}
            <div class="post-form">
                {{form.as_p}}
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>


{% endblock %}